<!DOCTYPE html>
<html lang="en">
<head>
  <noscript>
    {% block noscript %}
      <style>
          html {
              display: none;
              visibility: hidden;
          }
      </style>
      <meta http-equiv="refresh" content="0; url={{ request.url_for("noscript") }}">
    {% endblock %}
  </noscript>
  <noscript>Доступ запрещен</noscript>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{% block title %}Application{% endblock title %}</title>
</head>
<body class="h-screen overflow-hidden flex items-center justify-center" style="background: #edf2f7;">
{% block content %}

{% endblock content %}
<script type="module" src="{{ url_for('static', path='/js/core.js') }}"></script>
</body>
</html>